html {
	background: url("https://raw.githubusercontent.com/jainapdx/group-project/jaina/img/mooning.png");
}

body {
	background: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "Raleway", sans-serif;
}

div.container {
	background: transparent;
}


div.container.location {
	background: gray;
	width: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: "Raleway", sans-serif;
}

p, div {
	font-family: "Raleway", sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.banner {
	width: 100%;
	border: 0px 0px;
	margin: 0px 0px;
	padding: 0px 0px;
}

.banner img {
	margin-top: 50px;
	width: 100%;
}

.well {
	padding: 50px;
	margin: 20px auto;
}


.photo {
	border-radius: 50%;
	margin: -30px auto 20px auto;
	max-width: 150px;
}

.map {
	border: 5px solid blue;
	display: inline-block;
	width: 420px;
}

.form {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: hidden;
	max-width: 90%;
	min-width: 80%;
	margin: 30px auto;
}

.form iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}







