html {
	background: red;
  background-image: url('mooning.png');
}

body {
	background: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "Raleway", sans-serif;
}

div.container {
	background: transparent;
}

div.container.location {
	background: green;
	width: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: "Raleway", sans-serif;
}

p, div {
	font-family: "Raleway", sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.banner {
	width: 100%;
	border: 0px 0px;
	margin: 0px 0px;
	padding: 0px 0px;
}

.banner img {
	margin-top: 50px;
	width: 100%;
}

.map {
	border: 5px solid blue;
	display: inline-block;
	width: 420px;
}
